*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body{
    background-image: url("https://wallpapercave.com/wp/wp6736053.jpg");
    background-size: cover;
    align-items: center;
    height:100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 26, 42);
}


#card{
    height: 500px;
    width: 300px;
    background-color: #d1c6d2;
    border-radius: 8px;
    padding: 20px;
}
#card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

#card h1{
    font-size: 30px;
    font-weight:700;
    margin: 10px 0;
}
#card h5{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
    color: red;
}
#card button{
    background-color: rgb(172, 13, 13);
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 3%;
    border: none;
    margin: 2px;
    cursor: pointer;
}
#card #remove{
    background-color: rgb(22, 104, 175);
    color: black;
}